#top, #bottom {
    display: grid;
    grid-template-columns: max-content max-content;
}

#bottom > div {
    align-content: start;
}

#game .table {
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    width: 300px;
}

#game .table > div {
    border: solid 1px #999999;
    margin-bottom: -1px;
    padding: 3px 3px 0 3px;
}

#game .table .server {
    text-align: center;
}

#game .table .scores {
    display: grid;
    grid-template-columns: auto auto;
}

#game .table .scores .score {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

#game .table .time {
    text-align: center;
}

#game .table .time span {
    font-variant-numeric: tabular-nums;
}

#game .table .info {
    font-size: 12px;
}

#game .table .map {
    text-align: center;
}

#game .table .condition {
    text-align: center;
}

#players .table {
    padding: 10px;
    display: grid;
}

#players .table > div {
    border: solid 1px #999999;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 3px 3px 0 3px;
}

#players .table .header {
    text-align: center;
}

#players .table .goals:not(.header),
#players .table .goalAssists:not(.header),
#players .table .blunders:not(.header),
#players .table .captures:not(.header),
#players .table .pickups:not(.header),
#players .table .carrierKills:not(.header),
#players .table .returns:not(.header),
#players .table .kda:not(.header),
#players .table .kills:not(.header),
#players .table .assists:not(.header),
#players .table .deaths:not(.header),
#players .table .damage:not(.header),
#players .table .taken:not(.header),
#players .table .net:not(.header),
#players .table .dpd:not(.header),
#players .table .dpk:not(.header),
#players .table .timeInGame:not(.header) {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

#selector {
    padding: 10px 10px 0 10px;
}

#damage {
    padding: 10px;
    grid-template-columns: max-content;
}

#damage #grid .table {
    display: grid;
}

#damage #grid .table > div {
    min-width: 41px;
}

#damage #weapons,
#damage #weapons a,
#damage #weapons a img,
#weapons-2,
#weapons-2 a,
#weapons-2 a img {
    vertical-align: middle;
}
    
#damage #grid .table #weapon-container {
    display: flex;
}

#damage #grid .table #weapon-container #weapon {
    align-self: flex-end;
}

#damage #grid .table > div {
    border: solid 1px #999999;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 3px 3px 0 3px;
}

#damage #grid .table .vertical {
    writing-mode: vertical-lr;
    text-align: right;
    padding-bottom: 3px;
}

#damage #grid .table .friendly {
    color: #a00000;
}

#damage #grid .table .self {
    color: #ff0000;
}

#damage #grid .table .empty {
    border: none;
}

#events {
    padding: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
    column-gap: 10px;
}

#events .time {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

#settings {
    padding: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
    column-gap: 10px;
}

.right {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.live-updates {
    float: right;
    color: #ff6600;
    padding-right: 10px;
}

.game .timeInGame {
    visibility: hidden;
}

.chart {
    width: 800px;
    padding: 10px;
}

.hidden {
    display: none;
}
