#pagination {
    padding: 10px;
}

#pagination.a {
    padding-right: 20px;
}

#games {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    column-gap: 10px;
}
