#top {
    display: grid;
    grid-template-columns: max-content max-content;
}

#game .table {
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    width: 300px;
}

#game .table > div {
    border: solid 1px #999999;
    margin-bottom: -1px;
    padding: 3px 3px 0 3px;
}

#game .table .server {
    text-align: center;
}

#game .table .scores {
    display: grid;
    grid-template-columns: auto auto;
}

#game .table .scores .score {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

#game .table .time {
    text-align: center;
}

#game .table .time span {
    font-variant-numeric: tabular-nums;
}

#game .table .info {
    font-size: 12px;
}

#game .table .map {
    text-align: center;
}

#game .table .condition {
    text-align: center;
}

#players .table {
    padding: 10px;
    display: grid;
}

#players .table > div {
    border: solid 1px #999999;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 3px 3px 0 3px;
}

#players .table .header {
    text-align: center;
}

#players .table .goals:not(.header),
#players .table .goalAssists:not(.header),
#players .table .blunders:not(.header),
#players .table .captures:not(.header),
#players .table .pickups:not(.header),
#players .table .carrierKills:not(.header),
#players .table .returns:not(.header),
#players .table .kills:not(.header),
#players .table .assists:not(.header),
#players .table .deaths:not(.header) {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

#damage {
    padding: 10px;
    grid-template-columns: max-content;
}

#damage #grid .table {
    display: grid;
}

#damage #weapons,
#damage #weapons a,
#damage #weapons a img {
    height: 41px;
    vertical-align: middle;
}
    
#damage #grid .table #weapon-container {
    display: flex;
}

#damage #grid .table #weapon-container #weapon {
    align-self: flex-end;
}

#damage #grid .table > div {
    border: solid 1px #999999;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 3px 3px 0 3px;
}

#damage #grid .table .vertical {
    writing-mode: vertical-lr;
    text-align: right;
    padding-bottom: 3px;
}

#damage #grid .table .friendly {
    color: red;
}

#events {
    padding: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
    column-gap: 10px;
}

#events .time {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.right {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.live-updates {
    float: right;
    color: #ff6600;
    padding-right: 10px;
}
