#completed, #games {
    display: flex;
    flex-flow: row wrap;
}

.game .table {
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    width: 300px;
}

.game .table > div {
    border: solid 1px #999999;
    margin-bottom: -1px;
    padding: 3px 3px 0 3px;
}

.game .table .server {
    text-align: center;
}

.game .table .scores {
    display: grid;
    grid-template-columns: auto auto;
}

.game .table .scores .score {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.game .table .time {
    text-align: center;
}

.game .table .time span {
    font-variant-numeric: tabular-nums;
}

.game .table .info {
    font-size: 12px;
}

.game .table .map {
    text-align: center;
}

.game .table .condition {
    text-align: center;
}

#browser {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 5px;
    column-gap: 5px;
    align-items: stretch;
    justify-items: stretch;
}

#browser > div {
    display: flex;
    align-items: center;
}

#browser .old {
    color: #999999;
}

.live-updates {
    float: right;
    color: #ff6600;
    padding-right: 10px;
}
