#notice {
    padding: 10px;
}

#browser {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-column-gap: 5px;
    column-gap: 5px;
}

#browser .old {
    color: #999999;
}
